.nameAndrefresh {
  display: flex;
  flex-direction: row;
}



#me {
  height: 200px;
  width:  inherit;
}
#header {
  background-color: rgba(0,0,0,.55);
  display: flex;
  justify-content: center;
  height: 25px;
  color: lightgrey;
}

.musk {
  font-style: italic ;
  font-size: 18px;
  color: white;
  top: 20px
}



 .jumbo{
   height: 365px;
   top: 100px;
   background-color: rgba(0,0,0,.7);
   position: relative;
}
.jumbo-contents {
  text-align: center;
  color: white;
  text-shadow: 0.5px 0.5px 0.5px #000000;
  font-size: 85px;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.jumbo h1 {
  font: 55px arial;
  margin: 0;
  color: lightgrey;
  top: 400px;
}

.jumbo h3 {
  font: 20px arial;
  margin: 0 0 20px;
  color: #lightgrey;
}
#me {
  height: 200px;
  width:  inherit;
}

#background {
  background-image: url('https://www.worcester.ac.uk/content_images/web-development-university-worcester-course-page-header.jpg');
  background-size: cover;
  top: 0;
  bottom: 0;
  height: 5000px;
  background-attachment: fixed;
  background-position: center;
  background-repeat: repeat;

}
#background-overlay {
  background-attachment: fixed;
  position: absolute;
  top: 0;
  bottom: 0;
  height: 5000px;
  width: 100%;
  background-color: rgba(0,0,0,.4)

}
.subPage{
  color: white;
  font-size: 400px;
}
